.container
  .row
    .col-sm-12
      %h2 Регистрация агента
    .col-sm-12
      .card
        .card-body
          Перед вами локальный агент, который будет автоматически загружать фильмы.

      .line
        Отлично, сложная часть позади! Прежде чем фильмы начнут загружаться, необхоимо произвести первоначальной настройку агента.
      .line
        Данная процедура выполняется единоразово и занимает 10 минут у лабораторных мышей. Регистрация осуществляется в несколько шагов:

      .row
        .col-sm-4
          .card
            .card-body
              %h5.card-title 1. Создание аккаунта

              Если у вас ещё нет аккаунта nmt, то необходимо его создать.
              Если аккаунт уже есть, то переходите к следующему шагу

              %a.card-link{ href: 'https://nmt.pw/user/register', target: '_blank' } Создать аккаунт nmt.pw
        .col-sm-4
          .card
            .card-body
              %h5.card-title 2. Регистрация агента

              Чтобы доказать, что агент ваш &mdash; привяжите к аккаунту.
              У агента есть уникальный локальный токен, который используется только при регистрации.


              %a.card-link{ href: "https://nmt.pw/user/local_agents/register?local_token=#{@account_service.local_token}", target: '_blank' }
                Зарегистрировать агента

        .col-sm-4
          .card
            .card-body
              %h5.card-title 3. Конфигурация загрузки

              Осталось объяснить агенту куда, что и зачем нужно загружать.
              Шаг будет доступен только после окончания регистрации.

        .col-sm-4
    .col-sm-12
      = render partial: 'setup_form'

